
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*______________________________________General styling____*/

#bg{
background-color:#EB5E28;
}

#winGameModal{
    position: relative;
    color: #EB5E28;
    text-align: center;
    font-size: 45px;
}

body{
    overflow-x:hidden;
}

body, html {
    margin: 0;
    padding: 0;
    background-color:#EB5E28;
    font-family: 'VT323', monospace;
    background-image: url(../img/costumer_breadpeach.png);
    background-size: 70%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    overflow-y: visible;
}
/*__________________________________________Main game area_____*/

.game-canvas {
 
    background-color: transparent;
   z-index: -2;
    width: 100%;
   text-align: center;
  background-attachment: fixed;  
}

/*____________________________________________________Game tiles styling___*/
.tile{
    display: inline-flex;
    margin: auto;
    border: #CCC5B9 solid 1px;
}

/*____________________________________________________Main heading___*/
.main-heading{
    color: #CCC5B9;
    
  
}

/*____________________________________________________Start game Button___*/
 .start-game{
     color:#403D39;
    background-color: #FFFCF2;
   padding: 7px 15px 7px 15px;
   margin-bottom: 10px;
 }
  .start-game:hover{
      color:#CCC5B9;
    background-color: #403D39;
    cursor: pointer;
 }
/*____________________________________________________Message prompter (User instruction)___*/
#prompt{
    color: #252422;
    font-size: 35px;
    padding: 10px;
}

/*______________________________________________________________Non-main buttons____*/
.otherbtn{
    background-color: #252422;
    font-weight: bold;
}



/*_____________________________________________________________________GAME BUN BUTTONS (tiles for game play)______*/


#cinnimon-roll {
    position: relative;
    width: 160px;
    height: 160px;
   background-image: url(../img/cinemon-roll.png);
   background-size: contain;
   background-repeat: no-repeat;
}

#bread {
    position: relative;
     width: 160px;
    height: 160px;
    background-image: url(../img/bread_roll.png);
     background-size: contain;
      background-repeat: no-repeat;
  
}

#pain-au-chocolat{
    position: relative;
     width: 160px;
    height: 160px;
    background-image: url(../img/pain-au-chocolat.png);
    background-size: contain;
     background-repeat: no-repeat;
}
#fairy-cake {
position: relative;
     width: 160px;
    height: 160px;
    background-image: url(../img/fairy-cake.png);
    background-size: contain;
     background-repeat: no-repeat;
}

 /* __________________________________________________________Tile hover________ */
#fairy-cake:hover{
    background-color: rgba(105, 237, 100, 0.5);
    cursor: pointer;
    padding: 10px;
}

#bread:hover{
    background-color: rgba(241, 17, 9, 0.5);
    cursor: pointer;
    padding: 10px;
}

#pain-au-chocolat:hover{
    background-color: rgb(221, 185, 64, 0.5);
    cursor: pointer;
    padding: 10px;
   
}

#cinnimon-roll:hover {
    background-color: rgb(100, 149, 237, 0.5);
    cursor: pointer;
    padding: 10px;
    
}

/*_______________________________________https://www.w3schools.com/howto/howto_js_popup.asp - from W3 schools__*/
/*_____________________________________________________________________________POPUP____________________*/
 /* _____________________Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* _______________Tutorial popup */
.popup .popuptext {
     visibility: hidden;
  background-color: #403D39;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  bottom: 70%;
  margin-left: -80px;
  font-size: 15px;
    height: 70vh;
    width: 70vw;
    right: unset;
}
.popuptext ul li:first-child{
    list-style-type: none;
   
}
.popuptext ul{
    list-style-type: square;
   
}
/* _____________________Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s forwards;
}
/*_____________________________________________________________________________ANIMATION____________________*/
/* ___________________________Animation (fade in the popup) */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 
/*_____________________-animation (when error)___*/
 

.animateBun{
    transform:scale(1,1);
animation: bun 0.5s forwards ease-in-out;
}

@keyframes bun{
    0% {transform:scale(1,1)}
    75%{transform:scale(1.2,1.2)}
    100%{transform:scale(1,1)}
}



/*_____________________________________________________________________________RESPONISIVENESS____________________*/


  @media(max-width: 1024px),(max-width: 1224px)  {/*_______________________for laptops___*/
/* _______________Tutorial popup size */
    .popup .popuptext {
    font-size: 15px;
    height: 70vh;
    width: 70vw;
    right: unset;
    }

/*________Main heading___*/
.main-heading{
    font-size: 30px;
}

/*_________________________Start game Button___*/
 .start-game{ 
     font-size: 30px;
 
 }
    /*_________________Non-main buttons___*/
.otherbtn{
   font-size: 25px;}
    /*___________________level text____*/
#level{
     font-size: 30px;
}
/*__________________Message prompter___*/
#prompt{
    padding: 5px;
    font-size: 40px;
}

}



  @media(max-width: 768px),(max-width: 834px){/*______________for tablets and medium sized devices___*/
.popup .popuptext {
    font-size: 13px;
    height: 40vh;
    width: 75vw;
    right: unset;
    }

     /*______________Main heading___*/
.main-heading{
    font-size: 30px;
    margin-bottom: 5px;
}

/*________________________Start game Button___*/
 .start-game{ 
     font-size: 25px;
 
 }
    /*______________Non-main buttons____*/
.otherbtn{
   font-size: 18px;}
    /*______________________level text____*/
#level{
     font-size: 23px;
}
/*_____________Message prompter___*/
#prompt{
    color: #252422;
    font-size: 35px;
}

    
/*____________Game_buttons (for tablets screen)______*/


#cinnimon-roll {
    width: 140px;
    height: 140px;
}

#bread {
   
     width: 140px;
    height: 140px;
   
  
}

#pain-au-chocolat{
   
     width: 140px;
    height: 140px;
  
}
#fairy-cake {

     width: 140px;
    height: 140px;

}
  }

  @media (max-width: 414px){ 
/* _______________Tutorial popup window size for medium moblie phones */
.popup .popuptext {
    font-size: 10px;
    height: 70vh;
    right: 50%;
    }
  }
 @media (max-width: 360px){ 
/* _______________Tutorial popup window size for medium moblie phones */
.popup .popuptext {
    font-size: 10px;
    height: 70vh;
    right: 50%;
    }
  }
 
  @media(max-width: 350px){/*______________________for small mobile devices___*/

    body, html {
    background-image: unset;
}

/*___________Main heading___*/
.main-heading{
    font-size: 30px;

}

/*_______________Start game Button___*/
 .start-game{ 
     font-size: 20px;
 
 }
    /*________________Non-main buttons____*/
.otherbtn{
   font-size: 14px;}
    /*________________level text____*/
#level{
     font-size: 20px;
}
/*______________Message prompter ___*/
#prompt{
    font-size: 30px;
}

  /*_____________Game_buttons ______*/

#cinnimon-roll {
    width: 120px;
    height: 120px;
}

#bread {
   
     width: 120px;
    height: 120px;
   
  
}

#pain-au-chocolat{
   
     width: 120px;
    height: 120px;
  
}
#fairy-cake {

     width: 120px;
    height: 120px;

}


/* _______________Tutorial popup font size */
.popup .popuptext {
        font-size: 9px;
        right: 50%;
      height: 80vh;
    }

}




 